@border: solid 2px #2d3436;

.cell-container {
  flex: 100/3;
  position: relative;
  padding-top: 100/3%;
  .cell {
    font-family: "Helvetica";
    font-size: 24pt;
    font-weight: 400;
    border-left: @border;
    border-top: @border;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.2s;
    &.base {
      font-weight: bold;
      background: rgba(0,0,0,0.075)
    }
    &.selectable {
      cursor: pointer;
    }
    &.selected {
      background: #74b9ff;
    }
    &.conflict {
      background: #d63031;
      color: #fff;
    }
    .cell-coords {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 10pt;
      color: #dfe6e9;
    }
  }
}
.cell-row {
  .cell-container:last-child {
    border-right: @border;
  }
  &:last-child {
    .cell-container {
      border-bottom: @border;
    }
  }
}
