.cell-container {
  flex: 100/3;
  position: relative;
  padding-top: 100/3%;
  .cell {
    font-family: "Helvetica";
    border: solid 2px black;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    &.selected {
      font-size: 16pt;
      background: hotpink;
    }
    .cell-coords {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 10pt;
      color: rgba(0,0,0,0.25);
    }
  }
}
